.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #000000;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.reetika-madan {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 33px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 997px;
  top: 31px;
}
.home2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1116px;
  top: 31px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1237px;
  top: 31px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.getting-to-know-me {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 72px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 385px;
  width: 757px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-1 {
  background: #86f944;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 146px;
  height: 59px;
  position: absolute;
  left: 645px;
  top: 753px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #161414;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 653px;
  top: 769px;
  width: 133px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reetika-madan-university-of-maryland-fall-2025 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 475px;
  top: 988px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i-m-reetika-a-master-s-student-in-information-systems-at-umd-with-2-years-of-experience-at-deloitte-in-aws-dev-ops-and-cloud-security-currently-i-work-as-a-research-assistant-at-the-center-for-global-sustainability-and-as-a-statistical-programming-intern-at-bristol-myers-squibb-i-m-passionate-about-applying-ai-data-and-cloud-technologies-to-solve-real-world-problems-in-healthcare-and-sustainability {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 480px);
  top: 432px;
  width: 1032px;
  height: 351px;
  display: flex;
  align-items: center;
  justify-content: center;
}
