.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: #000000;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 70px;
  top: 21px;
}
.reetika-madan {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 997px;
  top: 31px;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1116px;
  top: 31px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1237px;
  top: 31px;
}
.contact2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 91px;
  top: 253px;
  width: 629px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-us-for-any-questions-or-concerns-reetika-madan-rmadan-1-umd-edu-professor-s-contact-paul-t-shapiro-pshapiro-umd-edu-teaching-assistant-s-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 629px);
  top: 365px;
  width: 727px;
  height: 496px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-us-for-any-questions-or-concerns-reetika-madan-rmadan-1-umd-edu-professor-s-contact-paul-t-shapiro-pshapiro-umd-edu-teaching-assistant-s-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu-span {
  font-family: "Inter-Regular", sans-serif;
}
.contact-us-for-any-questions-or-concerns-reetika-madan-rmadan-1-umd-edu-professor-s-contact-paul-t-shapiro-pshapiro-umd-edu-teaching-assistant-s-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu-span2 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
